{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
{{ super() }}

{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}

{% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}




{% block content %}
<div id="content" class="max-w-prose text-justify">
  <header>

    {% if article.category %}
    <div class="mb-4">    
    {% for cat in article.category.ancestors or [article.category] %}
    <a class="p-2 text-xl text-amber-450 font-extrabold hover:text-amber-800" href="{{ SITEURL }}/{{ cat.url }}">{{ cat.shortname or cat }}</a>{{ '/' if not loop.last }}
    {% endfor %}
    </div>
    {% endif %}


    <div class="flex flex-col">
      {% if article.image %}
      <div class="bg-local bg-cover bg-center p-8 w-full text-center rounded-t-lg" style="background-image: url({{ article.image }})">
	<h2 class="font-bold p-2 bg-sky-900">
	  <a href="{{ SITEURL }}/{{ article.url }}"
	     rel="bookmark"
	     class="p-2 text-white hover:text-amber-450"	   
             title="Hipervínculo a: {{ article.title|striptags }}">	
	    {{ article.title }}
	  </a>
	</h2>
      </div>
      {% else %}
      <div class="bg-amber-450 p-4 w-full text-center rounded-t-lg">
	<h2 class="font-bold p-2">
	  <a href="{{ SITEURL }}/{{ article.url }}"
	     rel="bookmark"
	     class="p-2 text-white hover:text-white"	   
             title="Hipervínculo a: {{ article.title|striptags }}">	
	    {{ article.title }}
	  </a>
	</h2>
      </div>
      {% endif %}
    
      <div class="bg-stone-200 p-2 flex flex-row ">
	<div class="text-xs basis-1/2 p-1" datetime="{{ article.date.isoformat() }}">
	  {{ article.locale_date }}
	  {% if article.modified %}
	  Modificado: {{ article.locale_modified }}
	  {% endif %}
	</div>
	
	<div class="text-xs flex flex-wrap">
	  {% if article.tags %}
	  {% for tag in article.tags %}
	  <div class="p-2 m-1 rounded-full bg-gray-400  hover:bg-teal-850">
	    <a href="{{ SITEURL }}/{{ tag.url }}"
	       class="align-middle text-white hover:text-white">
	      {{ tag }}
	    </a>
	  </div>
	  {% endfor %}
	  {% endif %}
	</div>
      
      </div>

    
      {% import 'translations.html' as translations with context %}
      {{ translations.translations_for(article) }}
    </div>
  </header>
  
  <footer class="post-info">
    
    {% if article.authors %}
    <div class="flex flex-row-reverse mt-8 mb-16">
      <address class="text-right float-right w-3/4">
	{% for author in article.authors %}
	<a class="" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
	{% endfor %}
      </address>
    </div>
    {% endif %}

  </footer>
  
  
  <div class="container font-serif">
    {{ article.content }}
  </div>

</div>
{% endblock %}
