<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/theme.css"
	rel="stylesheet">

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% if CATEGORY_FEED_ATOM and category %}
  <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
  {% endif %}
  {% if CATEGORY_FEED_RSS and category %}
  <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
  {% endif %}
  {% endblock head %}



  <!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//metrics.k.vu/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '4']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->



  </head>

  <body class="bg-white text-stone-700">

    <header class="p-4 bg-white">
      <center>
	<a href="{{ SITEURL }}/">
	  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_oikos.png" alt="home">
	</a>
      </center>
    </header>

    <div class="bg-teal-850">
      <div class="flex flex-row flex-wrap text-stone-700  place-content-center">
	{% if DISPLAY_PAGES_ON_MENU %}
	{% for p in pages %}
	<div class="hover:bg-amber-450 hover:text-slate-50 py-2 px-4 {% if p == page %} bg-amber-450 {% endif %}">
	  <a class="mainmenu" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
	</div>
	{% endfor %}
	{% endif %}
	
	{% for title, link in MENUITEMS %}
	<div class="hover:bg-amber-450 hover:text-slate-50 py-2 px-4">
	  <a class="mainmenu" href="{{ link }}">{{ title }}</a>
	</div>
	{% endfor %}
	
	
      </div>
    </div>

    <div class="p-8 flex flex-col bg-white container mx-auto max-w-prose">
      {% block content %}
      {% endblock %}
    </div>



    <footer class="bg-gray-100 lg:text-left">

      <div class="flex flex-wrap py-16 justify-center">
	<div class="flex flex-col">
	  {% if DISPLAY_PAGES_ON_MENU %}
	  {% for p in pages %}
	  <div>
	    <a class="text-gray-400 text-sm" href="{{ SITEURL }}/{{ p.url }}">‣ {{ p.title }}</a>
	  </div>
	  {% endfor %}
	  {% endif %}
	</div>

	<a href="https://www.ecologia.unam.mx">
	  <img class="w-40 object-scale-down px-4"
	       src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_ie.png"
	       alt="Instituto de Ecología">
	</a>

	<a href="https://www.unam.mx">
	  <img class="w-40 object-scale-down px-4"
	       src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_unam.png"
	       alt="Universidad Nacional Autónoma de México">
	</a>
	
    </footer>

  </body>
</html>
