{% extends "index.html" %}

{% block title %}{{ SITENAME }} - {{ category }} category{% endblock %}

{% block content_title %}
<div class="mb-4">
  {% for cat in category.ancestors or category %}
  <a class="p-2 text-xl text-amber-450 font-extrabold hover:text-amber-800" href="{{ SITEURL }}/{{ cat.url }}">{{ cat.shortname or cat }}</a>{{ '/' if not loop.last }}
  {% endfor %}
</div>
{% endblock %}

