{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="flex flex-col">
  
  {% for category, articles in categories %}
  <div>
    <a href="{{ SITEURL }}/{{ category.url }}">
      {{ category }}</a>
    ({{ articles|count }})
  </div>
  {% endfor %}

</div>

{% endblock %}
