{% extends "base.html" %}
{% block content %}
<section id="content">

{% block content_title %}
{% endblock %}


<div class="flex flex-col">
  {% for article in articles_page.object_list %}
  <div class="p-2 bg-gray-300 rounded-t-md">
    <a href="{{ SITEURL }}/{{ article.url }}"
       class="text-xl"
       rel="bookmark"
       title="Hipervínculo a: {{ article.title|striptags }}">
      {{ article.title }}
    </a>
  </div>
  <time class="p-2 bg-gray-200 text-xs"
	datetime="{{ article.date.isoformat() }}">
    {{ article.locale_date }}
  </time>

  <div class="flex flex-row-reverse">
  <address class="mt-2 w-3/5 text-right float-right">
    {% for author in article.authors %}
    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
    {% endfor %}
  </address>
  </div>

  <div class="mt-4 mb-8 font-serif"> {{ article.summary }} </div><!-- /.entry-content -->
  {% endfor %}
</div><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
